{% extends 'recipes/base.html' %}

{% block content %}
{% load socialaccount %}
{% load static %}

<html>


<style type = 'text/css'>
       .right{
           padding-left: 600px;
           width: 1000px;
           height: 415px;
       }
       .split{
           word-break:break-all;
           width: 100px;
       }
       #name{
           display: inline-block;
           padding-right: 25px;
       }
       #time{
           display: inline-block;
           border-left: 1px solid #000;
           padding-left: 25px;
       }

       #forkimage{
            display: inline-block;
            float: left;
       }
       #fork{
            display: inline-block;
            overflow: hidden;
       }


</style>


<head>

    <ul style = "display: inline-block; width: 100%;">
        <div style="float: left">
            <img src="https://wordofmouth-images.s3.us-east-2.amazonaws.com/{{ recipe.recipe_image }}" width = "560" height = "460" />
            <form action = "{% url 'edit_image' recipe.id %}" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if request.user.username == recipe.user_name %}
                <input id="recipe_image" type="file" accept="image/*" name="recipe_image"/>
                <br>
                <input type = "submit" value = "Update Image">
                {% else %}
                {% endif %}
            </form>
        </div>

        <div class="right" class = "split">
            <h1 class = "font-weight-bold">
                    {{ recipe.recipe_name }}
            </h1>

            <div>
                <div id="name">
                    <p style="margin-top: 5px;">By {{recipe.user_name}} </p>
                </div>
                <!--
                    <div id="time">
                    <h6>Time: {{ recipe.recipe_time }} </h6>
                </div>

                -->
                
            </div>


            <h3><u>Description: </u></h3>
            <p>{{ recipe.recipe_description }}</p>
            <!-- <a href = "{% url 'edit_description' recipe.id %}">Edit Description</a> -->
            <!-- <a href = "{% url 'edit_description' recipe.id %}">Edit Description</a> -->

            <div>
                <div id="forkimage">
                    <a href = "{% url 'fork' recipe.id %}"><img src="{% static 'recipes/images/fork-logo.jpeg' %}"style="max-width:15%;" ></a>
                </div>
                <div id="fork">
                    <p style="color: red;">Fork this recipe</p>
                </div>

            </div>

            {% if recipe.recipe_reference %}
                <a href = "{% url 'detail' recipe.recipe_reference %}">Forked! View the original recipe here</a>
            {% endif %}

            <button class = 'btn btn-outline-dark' onClick="window.print()">Print/Save this recipe</button>
        </div>

    </ul>
    
</head>
<body>

    <ul id = "recipe-info" style = "display: inline-block; width: 100%;">
        <div class = "split" style="float: left; width: 400px;">
            <h3><u>Equipment: </u></h3>

            <label id = "equipment" for="vehicle1" width = "400px"> {{ recipe.recipe_equipment }}</label><br>

            <h1 hidden id="equip">
                {{ recipe.recipe_equipment }}
            </h1>

            <script type="text/javascript">
                var temp_e = document.getElementById("equip");

                var newTemp_e = temp_e.innerHTML;

                var str_split_e = newTemp_e.split(',');

                var num;
                var display_split_e = '';

                for (num=0; num < str_split_e.length; num++){
                    var curr_e = str_split_e[num].trim();
                    if(curr_e.length > 0){
                        display_split_e += "-  "+str_split_e[num] + "<BR>";
                    }
                }

                document.getElementById("equipment").innerHTML = display_split_e;

            </script>



            <h3><u>Ingredients: </u></h3>

             <label id = "ingredient" for="vehicle1" width = "400px"> {{ recipe.recipe_ingredients }}</label><br>

            <h1 hidden id="ingred">
                {{ recipe.recipe_ingredients }}
            </h1>

            <script type="text/javascript">
                var temp_i = document.getElementById("ingred");

                var newTemp_i = temp_i.innerHTML;

                var str_split_i = newTemp_i.split(',');

                var num;
                var display_split_i = '';

                for (num=0; num < str_split_i.length; num++){
                    var curr_i = str_split_i[num].trim();
                    if(curr_i.length > 0){
                        display_split_i += str_split_i[num] + "<BR>";
                    }
                }

                document.getElementById("ingredient").innerHTML = display_split_i;

            </script>

            <br>

            {% if request.user.username == recipe.user_name %}
                <a href = "{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
            {% else %}
            {% endif %}

            <form action="{% url 'favorite_recipe' %}" method="post">
                {% csrf_token %}
                {% if is_favorited %}
                    <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn btn-primary" style="background-color:gray">Unfavorite</button>
                {% else %}
                    <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn btn-primary" style="background-color:#D2042D">Favorite</button>
                {% endif %}
            </form>
        </div>

        <div class = "split" style="white-space: normal; padding-left: 300px; width: 1000px;">
             <!-- <h3>Instruction List: </h3> -->
                <!-- <ul>
                    {% for ri in recipe.recipeinstruction_set.all %}
                        <li>{{ ri.instruction_text }}</li>
                    {% endfor %}
                </ul> -->
            <h3><u>Instructions: </u></h3>
            <label id = "reci" for="vehicle1" width = "400px">{{ recipe.recipe_instructions }}</label><br>
            <!-- <h3>Instruction List: </h3>
            <ul>
                {% for ri in recipe.recipeinstruction_set.all %}
                    <li>{{ ri.instruction_text }}</li>
                {% endfor %}
            </ul> -->
      
            <h1 hidden id="rec">
                {{ recipe.recipe_instructions }}
            </h1>
            <script type="text/javascript">
                var temp = document.getElementById("rec");
                
                var newTemp = temp.innerHTML;

                var str_spl = newTemp.split('.');
                
                var num;
                var display_split_strings = '';
                var cnt = 1;
                for (num=0; num < str_spl.length; num++){
                    var curr = str_spl[num].trim();
                    if(curr.length > 0){
                        display_split_strings += cnt + ". " + str_spl[num] + "<BR>";
                        ++cnt;
                    }
                }

                document.getElementById("reci").innerHTML = display_split_strings;

            </script>
        </div>
    </ul>

</body>
</html>

{% endblock %}
