<html>
<head>
    {{ recipe.recipe_name }}
</head>
<body>
    <div>
        {{ recipe.recipe_equipment }}
    </div>
    <div class="container" style="display: flex; height: 100px;">
        <div style="width: 50%;">
            {{ recipe.recipe_ingredients }}
        </div>
        <div style="flex-grow: 1;">
            {{ recipe.recipe_instructions }}
        </div>

    </div>
        <img src="https://wordofmouth-images.s3.us-east-2.amazonaws.com/{{ recipe.recipe_image }}"/>
</body>
</html>