<html>
<head>
    <p>Edit Instructions for {{ recipe.recipe_name }}</p>
</head>
<body>
    <div>
        <a href = "/recipes" > Home </a>
    </div>
    <div>
        <a href = "{% url 'detail' recipe.id %}">Cancel</a>
    </div>
    <div>
        <form action = "{% url 'add' recipe.id %}" method = "post">
            {% csrf_token %}
            <input type = "text" name = "instruction" id = "instruction" value = "{{ this.value }}" placeholder = "Instruction">
            <input type = "submit" value = "add instruction">
        </form>
    </div>
</body>
</html>