{% extends 'recipes/base.html' %}

{% block content %}

<style>
    #name_id{
        width:600px;
    }
    #description_id{
        width:600px;
    }
    #ingredients_id{
        width:600px;
    }
    #equipment_id{
        width:600px;
    }
    #instruction_id{
        width:600px;
    }

    .form-select {
        width: 600px;
    }
</style>

<form action = "{% url 'index' %}" method = "post" enctype="multipart/form-data" id="recipeform">
    {% csrf_token %}

<!-- Username (hidden) -->
    <div>
        <label hidden for="user_name">User name: </label>
        <input hidden id="user_name" type="text" name="user_name" value = {{request.user}}>
    </div>

<!-- Name input -->
        <div>
            <div class="form-group" id="name_id">
                <label for="recipe_name">Recipe Name: </label>
                <textarea id="recipe_name" name="recipe_name"class="form-control" required>{{ recipe.recipe_name }}</textarea>
            </div>
        </div>

<!-- Time input-->
<!-- /***************************************************************************************
*  REFERENCES
*  Title: How to set default value for HTML select?
*  Author: N/A
*  Date: 4/30/22
*  Code version: N/A
*  URL: https://syntaxfix.com/question/12679/how-to-set-default-value-for-html-select
*  Software License: cc by-sa 3.0
*
*
***************************************************************************************/ -->
<div class="form-group">
    <label for="recipe_time">Recipe Time (in minutes): </label>
    <select class = "form-select shadow-none" name="recipe_time" id="recipe_time" required>
        <option value=""></option>
        <option selected="selected" value="5-15">5 to 15 minutes</option>
        <option value="15-30">15 to 30 minutes</option>
        <option value="30-60">30 minutes to an hour</option>
        <option value="60+">Over an hour</option>
    </select>

    <h1 hidden id="time">{{recipe.recipe_time}}</h1>

    <script type="text/javascript">

        var temp = document.getElementById("time").innerHTML;
        var mySelect = document.getElementById('recipe_time');

        for(var i, j = 0; i = mySelect.options[j]; j++) {
            if(i.value == temp) {
                mySelect.selectedIndex = j;
                break;
            }
        }
        </script>

</div>
<br>

<h1 hidden id="type">{{recipe.recipe_type}}</h1>
<!-- /***************************************************************************************
*  REFERENCES
*  Title: How to set default value for HTML select?
*  Author: N/A
*  Date: 4/30/22
*  Code version: N/A
*  URL: https://syntaxfix.com/question/12679/how-to-set-default-value-for-html-select
*  Software License: cc by-sa 3.0
*
*
***************************************************************************************/ -->
<!-- Type input -->
<div class="form-group" id = "type">
    <label for="recipe_type">Recipe Type: </label>
    <select class = "form-select shadow-none" name="recipe_type" id="recipe_type" required>
        <option value=""></option>
        <option selected="selected" value="breakfast">Breakfast</option>
        <option value="snack">Snack</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
    </select>

         <script type="text/javascript">

        var temp = document.getElementById("type").innerHTML; 
        var mySelect = document.getElementById('recipe_type');
        for(var i, j = 0; i = mySelect.options[j]; j++) {
            if(i.value == temp) {
                mySelect.selectedIndex = j;
                break;
            }
        }
        </script>
</div>
<br>

<h1 hidden id="diet">{{recipe.recipe_diet}}</h1>

<!-- Diet input -->
<div class="form-group" id = "diet">
<label for="recipe_diet">Recipe Diet: </label>
<!-- /***************************************************************************************
*  REFERENCES
*  Title: How to set default value for HTML select?
*  Author: N/A
*  Date: 4/30/22
*  Code version: N/A
*  URL: https://syntaxfix.com/question/12679/how-to-set-default-value-for-html-select
*  Software License: cc by-sa 3.0
*
*
***************************************************************************************/ -->
<select class = "form-select shadow-none" name="recipe_diet" id="recipe_diet">
    <option value=""></option>
    <option selected="selected" value="vegan">Vegan</option>
    <option value="vegetarian">Vegetarian</option>
    <option value="gluten-free">Gluten-free</option>
    <option value="nut-free">Nut-free</option>

         <script type="text/javascript">

        var temp = document.getElementById("diet").innerHTML;
        var mySelect = document.getElementById('recipe_diet');

        for(var i, j = 0; i = mySelect.options[j]; j++) {
            if(i.value == temp) {
                mySelect.selectedIndex = j;
                break;
            }
        }
        </script>

</select>
</div>
<br>


<!-- Description input -->
    <div>
         <div class="form-group" id="description_id">
            <label for="recipe_description">Description: </label>
            <textarea id = "recipe_description" name = "recipe_description"  class="form-control" maxlength="450"  required>{{ recipe.recipe_description }}</textarea>
         </div>
    </div>

<!-- Equipment input -->
    <div>
         <div class="form-group" id="equipment_id">
            <label for="recipe_equipment">Equipment: </label>
            <textarea id = "recipe_equipment" name="recipe_equipment" class="form-control" required>{{ recipe.recipe_equipment }}</textarea>
             <small id="equipHelp" class="form-text text-muted">Separate by comma ' , '</small>
         </div>
    </div>

<!-- Ingredient input -->
    <div>
         <div class="form-group" id="ingredients_id">
            <label for="recipe_ingredients">Ingredient: </label>
            <textarea id = "recipe_ingredients" name="recipe_ingredients"
                      class="form-control" required>{{ recipe.recipe_ingredients }}</textarea>
             <small id="ingredientHelp" class="form-text text-muted">Separate by comma ' , '</small>
         </div>
    </div>

<!-- Instruction input -->
    <div>
        <div class="form-group labels" id="instruction_id">
            <label for="recipe_instructions">Instructions: </label>
            <textarea id = "recipe_instructions" name = "recipe_instructions" class = "form-control" required>{{ recipe.recipe_instructions }}</textarea>
             <small id="instructHelp" class="form-text text-muted">Separate by period ' . '</small>
        </div>
    </div>
    <br>

<!-- Instruction input -->
    <div class = " labels">
        <label hidden for="recipe_reference">Recipe Reference: </label>
        <input hidden type = "number" id = "recipe_reference" name="recipe_reference" value = {{recipe.id}}>
    </div>


<!-- Image input -->
    <div>

        <label for="recipe_image">Recipe Image: </label>
        <input id="recipe_image" type="file" accept="image/*" name="recipe_image" required/>
    </div>
    <br>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary">Publish Recipe</button>
</form>


{% endblock %}
