{% extends 'recipes/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>

</head>

<style type = "text/css">

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 25px;
        float: left;
    }

    .cards {
        margin: 0 auto;
        max-width: 300px;
    }

    .card-info a:hover{
        text-decoration: black;
        font-size: xx-large;
        border-bottom: 2px solid red;
    }
</style>

<body>

    <div class = "container">
        {% for recipe in recipelist %}
            
            <div class="card" style="width: 18rem;">
                <img src="https://wordofmouth-images.s3.us-east-2.amazonaws.com/{{ recipe.recipe_image }}" width = '100%' height = '75%' class="card-img-top">
                <div class="card-body" style= "display: inline-block">
                    <div class = "card-info" style="float:left">
                        <a href="{% url 'detail' recipe.id %}" style="text-decoration: none; color:#2d2d2d; font-size:x-large;"> {{recipe.recipe_name}} </a>
                        <br>
                        <p style="color: red; margin-top: 5px;">By {{recipe.user_name}} </p>
                    </div>
                    <div style="float: right">
                        <!--like button here-->
                    </div>
                </div>
            </div>    
        {% empty %}
            <p>No recipes posted yet :(</p>
        {% endfor %}
    </div>

    </body>
</html>

</body>
</html>

{% endblock %}