<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <p> Welcome to the recipe homepage! </p>
    <a href = "/recipes/form" > If you want to submit a recipe, click here! </a>

    {% for recipe in recipelist %}
        <div>
            <a href = "{% url 'detail' recipe.id %}"> Click here to view {{  recipe.recipe_name  }} </a>
        </div>
    {% empty %}
        <p>No recipes posted yet :(</p>
{% endfor %}

    <a href = "/recipes/favoritelist" > Favorited Recipes </a>

    </body>
</html>

</body>
</html>