{% extends 'recipes/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>

    <style type = "text/css">
        .recipe_div{
            padding: 15px 25px 15px 25px;
            vertical-align: auto;
        }
        .recipe_div a{
            color: black;
            text-align:start;
        }
    </style>

</head>

<body>
    <h1> My Recipes </h1>
    {% for recipe in myrecipes_added %}
        <div class = "recipe_div">
            <img src="https://wordofmouth-images.s3.us-east-2.amazonaws.com/{{ recipe.recipe_image }} " width = "150" height = "150"/>
            <a href = "{% url 'detail' recipe.id %}"> {{  recipe.recipe_name  }} </a>
        </div>
    {% empty %}
        <p>No recipes posted </p>
    {% endfor %}
</body>
</html>

{% endblock %}