{% extends 'recipes/base.html' %}

{% block content %}

<form action = "{% url 'index' %}" method = "post" enctype="multipart/form-data" id="recipeform">
    {% csrf_token %}

    <div>
        <label hidden for="user_name">User name: </label>
        <input hidden id="user_name" type="text" name="user_name" value = {{request.user}}>
    </div>

<!-- Name input -->
    <div>
        <label for="recipe_name">Recipe Name: </label>
        <input id="recipe_name" type="text" name="recipe_name">
    </div>
    <br>

    <!-- Name input -->
    <div>
        <label for="recipe_time">Recipe Time: </label>
        <input id="recipe_time" type="text" name="recipe_time">
    </div>
    <br>

<!-- Description input -->
<div>
    <label for="recipe_description">Recipe Description: </label>
    <textarea form = "recipeform" id = "recipe_description" name="recipe_description" cols="40" rows="2"></textarea>
</div>
<br>

<!-- Ingredient input -->
    <div>
        <label for="recipe_ingredients">Recipe Ingredients: </label>
        <textarea form = "recipeform" id = "recipe_ingredients" name="recipe_ingredients" cols="40" rows="2"></textarea>
    </div>
    <br> 

<!-- Equipment input -->
 <div>
    <label for="recipe_equipment">Recipe Equipment: </label>
        <textarea form = "recipeform" id = "recipe_equipment" name="recipe_equipment" cols="40" rows="2"></textarea>
</div>
    <br> 

<!-- Instruction input -->
     <div class = "labels">
        <label for="recipe_instructions">Recipe Instructions: </label>
        <textarea form = "recipeform" id = "recipe_instructions" name="recipe_instructions" cols="40" rows="5"></textarea>
    </div>
    <br> 

<!-- Instruction input -->
    <div class = "labels">
        <label hidden for="recipe_reference">Recipe Reference: </label>
        <input hidden type = "number" id = "recipe_reference" name="recipe_reference" value = "0">
    </div>


<!-- Image input -->
    <div>

        <label for="recipe_image">Recipe Image: </label>
        <input id="recipe_image" type="file" accept="image/*" name="recipe_image"/>
    </div>
    <br>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary">Publish Recipe</button>

</form>

{% endblock %}
