{% extends 'recipes/base.html' %}

{% block content %}

<style type = 'text/css'>
    #name_id{
        width:600px;
    }
    #description_id{
        width:600px;
    }
    #ingredients_id{
        width:600px;
    }
    #equipment_id{
        width:600px;
    }
    #instruction_id{
        width:600px;
    }
    
    .select {
        width: 600px;
    }
</style>
<!-- /***************************************************************************************
*  REFERENCES
*  Title: Forms
*  Date: 4/25/22
*  Code version: 5.1.3
*  URL:https://getbootstrap.com/docs/4.0/components/forms/
*  Software License: MIT
***************************************************************************************/ -->

<form action = "{% url 'index' %}" method = "post" enctype="multipart/form-data" id="recipeform">
    {% csrf_token %}

    <div>
        <label hidden for="user_name">User name: </label>
        <input hidden id="user_name" type="text" name="user_name" value = {{request.user}}>
    </div>

<!-- Name input -->
    <div>
        <div class="form-group" id="name_id">
            <label for="recipe_name">Recipe Name: </label>
            <input id="recipe_name" type="text" class="form-control" name="recipe_name" required>
        </div>
    </div>


<!-- Time input-->
    <div class="form-group select">
        <label for="recipe_time">Recipe Time: </label>
        <select class = 'form-select shadow-none' name="recipe_time" id="recipe_time" required>
            <option value=""></option>
            <option value="5-15">5 to 15 minutes</option>
            <option value="15-30">15 to 30 minutes</option>
            <option value="30-60">30 minutes to an hour</option>
            <option value="60+">Over an hour</option>
        </select>
    </div>
    <br>



<!-- Type input -->
    <div class="form-group select">
        <label for="recipe_type ">Recipe Type: </label>
        <select class = 'form-select shadow-none' name="recipe_type" id="recipe_type" required>
            <option value=""></option>
            <option value="breakfast">Breakfast</option>
            <option value="snack">Snack</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="dessert">Dessert</option>
        </select>
    </div>
    <br>

<!-- Diet input -->
<div class="form-group select">
    <label for="recipe_diet">Recipe Diet: </label>
    <select class = 'form-select shadow-none' name="recipe_diet" id="recipe_diet">
        <option value=""></option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="gluten-free">Gluten-free</option>
        <option value="nut-free">Nut-free</option>
    </select>
    <small class="form-text text-muted">Optional</small>
</div>
<br>


<!-- Description input -->
<div>
     <div class="form-group" id="description_id">
        <label for="recipe_description">Description: </label>
        <textarea form = "recipeform" id = "recipe_description" class="form-control" name="recipe_description" cols="40" rows="2"
                  maxlength="450" required></textarea>
     </div>
</div>


<!-- Ingredient input -->
    <div>
        <div class="form-group" id="ingredients_id">
            <label for="recipe_ingredients">Ingredients: </label>
            <textarea form = "recipeform" id = "recipe_ingredients" class = "form-control" name="recipe_ingredients" cols="40" rows="2"
                      placeholder="Ex. 3 cups flour, 1 pound cheese" required></textarea>
            <small id="ingredHelp" class="form-text text-muted">Separate by comma ' , '</small>
        </div>
    </div>

<!-- Equipment input -->
 <div>
     <div class="form-group" id="equipment_id">
        <label for="recipe_equipment">Equipment: </label>
            <textarea form = "recipeform" id = "recipe_equipment" class="form-control" name="recipe_equipment" cols="40" rows="2"
                placeholder="Ex. pans, pot" required></textarea>
         <small id="equipHelp" class="form-text text-muted">Separate by comma ' , '</small>
     </div>
</div>

<!-- Instruction input -->
    <div class="form-group" id="instruction_id">
         <div class = "labels">
            <label for="recipe_instructions">Instructions: </label>
            <textarea form = "recipeform" id = "recipe_instructions" class = "form-control" name="recipe_instructions" cols="40" rows="5"
                placeholder="Ex. Gather equipments and ingredients. Stir. Serve" required></textarea>
             <small id="instructHelp" class="form-text text-muted">Separate by period ' . '</small>
        </div>
    </div>
    <br> 

<!-- Instruction input -->
    <div class = "labels">
        <label hidden for="recipe_reference">Recipe Reference: </label>
        <input hidden type = "number" id = "recipe_reference" name="recipe_reference" value = "0">
    </div>


<!-- Image input -->
    <div>

        <label for="recipe_image">Recipe Image: </label>
        <input id="recipe_image" type="file" accept="image/*" name="recipe_image" required/>
    </div>
    <br>
    

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary">Publish Recipe</button>


</form>

{% endblock %}
