
<form action = "{% url 'index' %}" method = "post" enctype="multipart/form-data">
    {% csrf_token %}

<!-- Name input -->
    <center><div>
        <label for="recipe_name">Recipe Name: </label>
        <input id="recipe_name" type="text" name="recipe_name" />
    </div></center>

<!-- Ingredient input -->
    <center><div>
        <label for="recipe_ingredients">Recipe Ingredients: </label>
        <input id="recipe_ingredients" type="text" name="recipe_ingredients" />
    </div></center>

<!-- Equipment input -->
<center><div>
    <label for="recipe_equipment">Recipe Equipment: </label>
    <input id="recipe_equipment" type="text" name="recipe_equipment" />
</div></center>

<!-- Instruction input -->
    <center><div>
        <label for="recipe_instructions">Recipe Instructions: </label>
        <input id="recipe_instructions" type="text" name="recipe_instructions" />
    </div></center>

<!-- Image input -->
    <center><div>

        <label for="recipe_image">Recipe Image: </label>
        <input id="recipe_image" type="file" accept="image/*" name="recipe_image" />
    </div></center>


  <!-- Submit button -->
  <center><button type="submit" class="btn btn-primary">Publish Recipe</button></center>

</form>

<div>
    <a href = "/recipes" > Cancel </a>
</div>