{% extends 'recipes/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>

</head>

<style type = "text/css">

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 25px;
        float: left;
    }

    .cards {
        margin: 0 auto;
        max-width: 300px;
    }

    .card-info a:hover{
        text-decoration: black;
        font-size: xx-large;
        border-bottom: 2px solid red;
    }
</style>

<body>

  <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- The form -->
<div class = 'search form-outline' style="width: auto; margin: auto; margin-left: 45vh;">

  <form class = 'form-inline' action = "{% url 'search' %}" method = "get" enctype="multipart/form-data" id="searchrecipeform" style="margin-bottom: 50px;">
    {% csrf_token %}
    <input class = 'form-control span6 input-large shadow-none' type="search" placeholder="Find another recipe" name="search" style="width:350px;">
    <button class = 'btn btn-outline-dark' type="submit" style = 'margin-left: 5px;'><i class="fa fa-search"></i></button>
  </form>

</div>

    <div class = "container">
        {% for recipe in recipelist %}
            <div class="card" style="width: 18rem;">
                <img src="https://wordofmouth-images.s3.us-east-2.amazonaws.com/{{ recipe.recipe_image }}" width = '100%' height = '300rem' class="card-img-top" style="object-fit: cover;">
                <div class="card-body" style= "display: inline-block">
                    <div class = "card-info" style="float:left">
                        <a href="{% url 'detail' recipe.id %}" style="text-decoration: none; color:#2d2d2d; font-size:x-large;"> {{recipe.recipe_name}} </a>
                        <br>
                        <p style="color: red; margin-top: 5px;">By {{recipe.user_name}} </p>
                        <h6 <i class="bi bi-clock""></i> {{recipe.recipe_time }} minutes </h6>
                    </div>
                    <div style="float: right">
                        <!--like button here-->
                    </div>
                </div>
            </div>    
        {% empty %}
            <p>No recipes match search</p>
        {% endfor %}
    </div>

    </body>
</html>

</body>
</html>

{% endblock %}